<!DOCTYPE html>
<html>

<head>
  <title>CARDs : Collections</title>

  
  <link rel="stylesheet" type="text/css" href="../styles/styles_main.css">
  <link rel="stylesheet" type="text/css" href="../styles/styles_collectors.css">
  
  <script src="../scripts/script_main.js"></script>
  <script src="../scripts/script_collectors.js"></script>
</head>

<body>
  <div id="background">
    <div class="head_bars">
      <div style="margin-left: 4.2vh; margin-top: 12.4vh; margin-bottom: 1.5vh;" onclick="document.location.replace('./about.html');">
      <span class="icon floating_char" style="color: #DB7B51; cursor: pointer !important;">C</span><span 
      class="icon floating_char" style="color: #FBC74A; cursor: pointer !important;">A</span><span 
      class="icon floating_char" style="color: #4972CC; cursor: pointer !important;">R</span><span 
      class="icon floating_char" style="color: #995BBD; cursor: pointer !important;">D</span><span 
      class="icon floating_char" style="font-size: 2.58vh; cursor: pointer !important;">s</span>
    </div>
    </div>
    <div class="bottom_button_box" onmouseover="document.getElementById('bottom_button_text').innerHTML = 'Add by Clickboard'" onmouseleave="document.getElementById('bottom_button_text').innerHTML = 'Add'">
      <div class="bottom_button_text" id="bottom_button_text">Add</div>
      <div>
        <div class="input_tag">
          <span>Name: </span><br>
          <input id="name" class="input_line" placeholder="New Name" required>
        </div>
        <div class="input_tag">
          <span>ID: </span><br>
          <input id="id" class="input_line" placeholder="New Id" required>
        </div>
        <div class="input_tag">
          <span>Motto: </span><br>
          <input id="moto" class="input_line" placeholder="The Motto">
        </div>
        <div style="height: 5.00vh;"></div>
        <button id="middle_button" class="middle_button" onclick="addCard();">Make Me a Card</button>
        <div style="height: 5.00vh; text-align: center; margin-top: 1vh; height: 3vh; margin-bottom: 1vh; font-size: 2vh;">or</div>
        <label> <!-- get inspired by https://www.wfublog.com/2017/10/input-type-file-upload-css-skill.html -->
          <div class="middle_button" id="choose_qr_code_button" onclick="document.getElementById('choose_qr_code_button').hidden = true; document.getElementById('submit_qr_code_button').hidden = false;"><div style="position: relative; top: 1.3vh">Choose QR Code</div></div>
            <!-- MAX_FILE_SIZE (maximum file size in bytes) must precede the file input field used to upload the QR code image -->
            <input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
            <!-- The "name" of the input field has to be "file" as it is the name of the POST parameter. Choose QR code image to read/scan:  -->
            <input id="choose_qr_img" style="opacity: 0%; position: absolute; top: -10vh; left: -100vh;" name="file" type="file" accept=".jpg,.png,.gif">
            <button class="middle_button" id="submit_qr_code_button" hidden onclick="document.getElementById('choose_qr_code_button').hidden = false; document.getElementById('submit_qr_code_button').hidden = true;scanQRCode();">Submit QRCode</button>
        </label>
      </div>
    </div>
    <div class="card_collections" id="collections">
      <div style="text-align: center;">there is no card here. </div>
      <div class="card" onmouseleave="foldCard('test');" onclick="switchCard('test');" id="card_no_test" style="height: 27.25vh;" oncontextmenu="(function (event) {event.preventDefault(); if (confirm('do you want to delete this card? ')) {} })(event)">
        <div class="info_name">Name</div>
        <div class="info_id">ISO 900</div>
        <div class="info_moto">The Motto</div>
        <div class="edit_box" hidden>
          <img src="https://api.qrserver.com/v1/create-qr-code/?data=helloWorld&size=150x150">
        </div>
        <div class="info_icon"><img src="../resources/icon.jpg"></div>
      </div>
    </div>
  </div>
</body>

</html>