<!DOCTYPE html>
<html>

<head>
  <title>CARDs : Collections</title>

  
  <link rel="stylesheet" type="text/css" href="../styles/styles_main.css">
  <link rel="stylesheet" type="text/css" href="../styles/styles_collectors.css">
  
  <script src="../scripts/script_main.js"></script>
  <script src="../scripts/script_collectors.js"></script>
</head>

<body>
  <div id="background">
    <div class="head_bars">
      <div style="margin-left: 4.2vh; margin-top: 12.4vh; margin-bottom: 1.5vh;" onclick="document.location.replace('./about.html');">
      <span class="icon floating_char" style="color: #DB7B51; cursor: pointer !important;">C</span><span 
      class="icon floating_char" style="color: #FBC74A; cursor: pointer !important;">A</span><span 
      class="icon floating_char" style="color: #4972CC; cursor: pointer !important;">R</span><span 
      class="icon floating_char" style="color: #995BBD; cursor: pointer !important;">D</span><span 
      class="icon floating_char" style="font-size: 2.58vh; cursor: pointer !important;">s</span>
    </div>
    </div>
    <div class="bottom_button_box" onmouseover="document.getElementById('bottom_button_text').innerHTML = 'Add by Clickboard'" onmouseleave="document.getElementById('bottom_button_text').innerHTML = 'Add'">
      <div class="bottom_button_text" id="bottom_button_text">Add</div>
      <div>
        <div class="input_tag">
          <span>Name: </span><br>
          <input id="name" class="input_line" placeholder="New Name" required>
        </div>
        <div class="input_tag">
          <span>ID: </span><br>
          <input id="id" class="input_line" placeholder="New Id" required>
        </div>
        <div class="input_tag">
          <span>Motto: </span><br>
          <input id="moto" class="input_line" placeholder="The Motto">
        </div>
        <div style="height: 5.00vh;"></div>
        <button id="middle_button" class="middle_button" onclick="addCard();">Make Me a Card</button>
        <div style="height: 5.00vh; text-align: center; margin-top: 1vh; height: 3vh; margin-bottom: 1vh;">or</div>
        <button class="middle_button" onclick="scanQRCode">QRCode</button>
      </div>
    </div>
    <div class="card_collections" id="collections">
      <div style="text-align: center;">there is no card here. </div>
      <!--
      <div class="card" onmouseleave="foldCard('test');" onclick="switchCard('test');" id="card_no_test" style="height: 27.25vh;">
        <div class="info_name">Name</div>
        <div class="info_id">ISO 900</div>
        <div class="info_moto">The Motto</div>
        <div class="edit_box" hidden>
          <img src="https://api.qrserver.com/v1/create-qr-code/?data=helloWorld&size=150x150">
        </div>
        <div class="info_icon"><img src="../resources/icon.jpg"></div>
      </div>
      -->
    </div>
  </div>
</body>

</html>