<!DOCTYPE html>
<html>

<head>
  <title>CARDs : Welcome</title>

  <!-- Load the main CSS file -->
  <link rel="stylesheet" type="text/css" href="../styles/styles_main.css">
  <link rel="stylesheet" type="text/css" href="../styles/styles_welcome.css">
  
  <script src="../scripts/script_main.js"></script>
  <script src="../scripts/script_welcome.js"></script>
</head>

<body>
  <div id="background">
    <div style="height: 11.00vh;"></div>
    <div id="main_title">
      <span style="font-size: 3.08vh; color: #494949; line-height: 2.84vh;">Welcome</span>
      <br>
      <span class="floating_char" style="font-size: 8.65vh; color: #DB7B51;">U</span><span class="floating_char"
        style="font-size: 8.65vh; color: #FBC74A;">C</span><span class="floating_char"
        style="font-size: 8.65vh; color: #4972CC;">A</span><span class="floating_char"
        style="font-size: 8.65vh; color: #995BBD;">S</span><span class="floating_char"
        style="font-size: 2.84vh; color: #494949">ers</span>
    </div>
    <div style="height: 4.00vh;"></div>
    <div>
      <div class="input_tag">
        <span>Name: </span><br>
        <input id="name" class="input_line" placeholder="Your Name" required>
      </div>
      <div class="input_tag">
        <span>ID: </span><br>
        <input id="id" class="input_line" placeholder="Your Id" required>
      </div>
      <div class="input_tag">
        <span>Motto: </span><br>
        <input id="moto" class="input_line" placeholder="Whatever You Like">
      </div>
    </div>
    <div style="height: 5.00vh;"></div>
    <div>
      <button class="middle_button" onclick="makeMeACard();">Make Me a Card</button>
    </div>
  </div>
</body>

</html>